@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@300;700&display=swap');body {
    background-color: #26292b;
    color: white;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #e54444;
    text-align: center;
    font-size: 5rem;
    margin-top: 3vh;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.5em;
}

video {
    width: 100vw;
    display: block;
    margin: 20px auto;
}

.qr-res {
    color: #e54444;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: white;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
}

#nimiq {
    display: block;
    font-size: 1em;
    margin-bottom: 3vh;
}

#nimiq a {
    color: white!important;
    text-decoration: none!important;
    border-bottom: solid white 2px;
}

#nimiq a:hover {
    color: #e54444;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}