@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@300;700&display=swap');body {
    background-color: #26292b;
    color: white;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #e54444;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

video {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.qr-res {
    color: #e54444;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: white;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;

}